/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

/* responsive grid system */
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  padding: 0 5px;
}
.container {
  padding: 0 15px;
}
.col-sm-1 {
  width: 25%;
}
.col-sm-2 {
  width: 50%;
}
.col-sm-3 {
  width: 75%;
}
.col-sm-4 {
  width: 100%;
}

/* top-header */
.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid #e0e2e7;
  background-color: #fff;
}
.header-wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 140px;
  height: auto;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-item a {
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #0b0326;
}
.menu-item a:hover,
.menu-item a:active {
  color: #9303a6;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item:last-child a {
  color: #a957e6;
}
.menu-item:last-child a:hover,
.menu-item:last-child a:active {
  color: #d8abfb;
}

/* mobile ver. */
@media screen and (max-width: 744px) {
  /* global utility */
  .sm-hidden,
  .md-only,
  .lg-only {
    display: none !important;
  }

  /* top-header */
  .header-wrapper {
    height: 50px;
  }
  .logo {
    width: 90px;
  }
  .menu-item a {
    font-size: 14px;
  }
}

/* tablet ver. */
@media screen and (min-width: 744px) and (max-width: 1199px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0 40px;
    max-width: 960px;
  }
  .col-md-1 {
    width: 8.333%;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-5 {
    width: 41.666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-11 {
    width: 91.666%;
  }
  .col-md-12 {
    width: 100%;
  }

  /* global utility */
  .md-hidden,
  .sm-only,
  .lg-only {
    display: none !important;
  }
}

/* desktop ver */
@media screen and (min-width: 1200px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0;
    max-width: 1140px;
  }
  .col-lg-1 {
    width: 95px;
  }
  .col-lg-2 {
    width: 190px;
  }
  .col-lg-3 {
    width: 285px;
  }
  .col-lg-4 {
    width: 380px;
  }
  .col-lg-5 {
    width: 475px;
  }
  .col-lg-6 {
    width: 570px;
  }
  .col-lg-7 {
    width: 665px;
  }
  .col-lg-8 {
    width: 760px;
  }
  .col-lg-9 {
    width: 855px;
  }
  .col-lg-10 {
    width: 950;
  }
  .col-lg-11 {
    width: 1045px;
  }
  .col-lg-12 {
    width: 1140px;
  }

  /* global utility */
  .lg-hidden,
  .sm-only,
  .md-only {
    display: none !important;
  }
}
