/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #0b0326;
}
body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: none;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
}
main {
  padding: 80px 0;
}

/* responsive grid system */
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  padding: 0 5px;
}
.container {
  padding: 0 15px;
}
.col-sm-1 {
  width: 25%;
}
.col-sm-2 {
  width: 50%;
}
.col-sm-3 {
  width: 75%;
}
.col-sm-4 {
  width: 100%;
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e2e7;
  background-color: #fff;
  z-index: 50;
}
.header-wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 140px;
  height: auto;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-item a {
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
}
.menu-item a:hover,
.menu-item a:active {
  color: #9303a6;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item:last-child a {
  color: #a957e6;
}
.menu-item:last-child a:hover,
.menu-item:last-child a:active {
  color: #d8abfb;
}

/* index */
.banner {
  position: relative;
  width: 100%;
  height: calc(100vw / 2.5);
  margin-bottom: 48px;
  overflow: hidden;
  background-color: #f7f8fa; /* img 파일 넣을 시 삭제 */
}
.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.banner a {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 36px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}
.banner a:hover,
.banner a:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.summery-section {
  margin-bottom: 64px;
}
.summery-section-header {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summery-section-header h1 {
  font-size: 18px;
}
.summery-section-header a {
  color: #9303a6;
}
.summery-section-header a:hover,
.summery-section-header a:active {
  color: #602169;
}
.recommed-list {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  overflow-x: scroll;
}
.recommed-list::-webkit-scrollbar {
  display: none;
}
.recommend-item {
  margin-right: 20px;
}
.recommend-item:last-child {
  margin-right: 0;
}
.recommend-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recommend-image {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f7f8fa; /* img 파일 넣을 시 삭제 */
}
.recommend-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: none;
}
.recommend-image .play-button {
  position: absolute;
  top: 50%;
  visibility: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 200ms ease-in-out, visibility 200ms ease-in-out;
}
.play-button img {
  padding-left: 8px;
  width: 40%;
  height: auto;
}
.recommend-item:hover .play-button {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}
.recommend-item h2 {
  font-size: 18px;
}
.chart-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.chart-item {
  position: relative;
  min-width: 60px;
  max-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.chart-item dt {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  order: 2;
}
.chart-item dd {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  order: 1;
}
.chart-item .active-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  border-radius: 4px 4px 0 0;
  background-color: #9303a6;
  animation-name: chart-slide-bar;
  animation-duration: 2000ms;
}
.chart-item:first-child .active-bar {
  background-color: #d504d9;
}
.chart-item .chart-detail {
  position: relative;
  position: absolute;
  top: -40px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(140, 141, 150, 0.7);
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: transform 200ms ease-in-out, visibility 200ms ease-in-out,
    opacity 200ms ease-in-out;
}
.chart-item:hover .chart-detail {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, -5px, 0);
}
.chart-detail::before {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(140, 141, 150, 0.7);
  border-bottom: 4px solid transparent;
  content: "";
}
.video-item {
  margin-bottom: 24px;
}
.video-item iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 8px;
}
.video-item a {
  display: block;
  font-size: 13px;
  color: #8c8d96;
}
.video-item a:hover,
.video-item a:active {
  color: #b2b3b9;
}
.video-item h2 {
  font-size: 16px;
  font-weight: 400;
}
.video-item a:hover h2,
.video-item a:hover h2 {
  color: #9303a6;
}

/* group */
.group-list {
  margin-top: 48px;
}
.group-item {
  display: block;
  margin-bottom: 24px;
}
.group-item h1 {
  font-size: 18px;
  text-align: center;
}
.group-item:hover h1,
.group-item:active h1 {
  color: #9303a6;
}
.group-item:hover img {
  transform: scale(1.1);
}
.group-image {
  width: 100%;
  margin-bottom: 8px;
  aspect-ratio: 4/3;
  overflow: hidden;
}
.group-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

/* dark mode */
.dark * {
  color: #fff;
}
.dark main {
  background-color: #0b0326;
}
.dark .top-header {
  border-bottom: 1px solid #422f7d;
  background-color: #0b0326;
}
.dark .menu-item:not(:last-child) a:hover,
.dark .menu-item:not(:last-child) a:active {
  color: #f44ff7;
}
.dark .summery-section-header a {
  color: #d504d9;
}
.dark .summery-section-header a:hover {
  color: #f805fc;
}
.dark .chart-item .active-bar {
  background-color: #d504d9;
}
.dark .chart-item:first-child .active-bar {
  background-color: #f805fc;
}
.dark .video-item a:hover h2,
.dark .video-item a:active h2 {
  color: #f44ff7;
}
.dark .group-list {
  height: calc(100vh - 48px);
}
.dark .group-item:hover h1,
.dark .group-item:active h1 {
  color: #f44ff7;
}

/* mobile ver. */
@media screen and (max-width: 744px) {
  /* global utility */
  .sm-hidden,
  .md-only,
  .lg-only {
    display: none !important;
  }

  main {
    padding: 50px 0;
  }
  .top-header,
  .header-wrapper {
    height: 50px;
  }

  /* mobile > index */
  .logo {
    width: 90px;
  }
  .menu-item a {
    font-size: 14px;
  }
  .banner {
    height: calc(100vw / 2);
  }
  .banner a {
    bottom: 12px;
    padding: 4px 24px;
    font-size: 14px;
  }
  .banner,
  .summery-section {
    margin-bottom: 48px;
  }
  .summery-section-header {
    margin-bottom: 24px;
  }
  .recommend-item {
    margin-right: 16px;
  }
  .recommend-image {
    width: 65px;
    height: 65px;
  }
  .play-button img {
    padding-left: 4px;
    width: 50%;
  }
  .chart-item {
    min-width: 48px;
    max-width: 48px;
  }
  .chart-item dt {
    font-size: 12px;
  }
  .chart-item dd {
    margin-bottom: 4px;
  }
  .chart-detail {
    font-size: 12px;
  }
  .video-item a {
    font-size: 11px;
  }
  .video-item h2 {
    font-size: 14px;
  }

  /* mobile > group */
  .group-list {
    margin-top: 32px;
  }
  .group-item {
    margin-bottom: 16px;
  }
  .group-item h1 {
    margin-left: 4px;
    font-size: 16px;
    text-align: left;
  }
  .group-image {
    margin-bottom: 4px;
  }

  /* mobile > dark mode */
  .dark .group-list {
    height: 100%;
  }
}

/* tablet ver. */
@media screen and (min-width: 744px) and (max-width: 1199px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0 40px;
    max-width: 960px;
  }
  .col-md-1 {
    width: 8.333%;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-5 {
    width: 41.666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-11 {
    width: 91.666%;
  }
  .col-md-12 {
    width: 100%;
  }

  /* global utility */
  .md-hidden,
  .sm-only,
  .lg-only {
    display: none !important;
  }

  /* tablet > index */
  .recommend-image {
    width: 94px;
    height: 94px;
  }
  .banner a {
    bottom: 20px;
    padding: 8px 28px;
    font-size: 16px;
  }
}

/* desktop ver */
@media screen and (min-width: 1200px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0;
    max-width: 1140px;
  }
  .col-lg-1 {
    width: 95px;
  }
  .col-lg-2 {
    width: 190px;
  }
  .col-lg-3 {
    width: 285px;
  }
  .col-lg-4 {
    width: 380px;
  }
  .col-lg-5 {
    width: 475px;
  }
  .col-lg-6 {
    width: 570px;
  }
  .col-lg-7 {
    width: 665px;
  }
  .col-lg-8 {
    width: 760px;
  }
  .col-lg-9 {
    width: 855px;
  }
  .col-lg-10 {
    width: 950;
  }
  .col-lg-11 {
    width: 1045px;
  }
  .col-lg-12 {
    width: 1140px;
  }

  /* global utility */
  .lg-hidden,
  .sm-only,
  .md-only {
    display: none !important;
  }
}

@keyframes chart-slide-bar {
  100% {
    transform: translate3d(0, 0, 0);
  }
  0% {
    transform: translate3d(0, 100%, 0);
  }
}
