/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #0b0326;
}
body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: none;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
}
main {
  padding: 80px 0;
}

/* responsive grid system */
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  padding: 0 5px;
}
.container {
  padding: 0 15px;
}
.col-sm-1 {
  width: 25%;
}
.col-sm-2 {
  width: 50%;
}
.col-sm-3 {
  width: 75%;
}
.col-sm-4 {
  width: 100%;
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e2e7;
  background-color: #fff;
  z-index: 50;
}
.header-wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 140px;
  height: auto;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-item a {
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
}
.menu-item a:hover,
.menu-item a:active {
  color: #9303a6;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item:last-child a {
  color: #a957e6;
}
.menu-item:last-child a:hover,
.menu-item:last-child a:active {
  color: #d8abfb;
}

/* index */
.banner {
  position: relative;
  width: 100%;
  height: calc(100vw / 2.5);
  margin-bottom: 48px;
  overflow: hidden;
  background-color: #f7f8fa; /* img 파일 넣을 시 삭제 */
}
.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.banner a {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 36px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}
.banner a:hover,
.banner a:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.summery-section {
  margin-bottom: 64px;
}
.summery-section-header {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summery-section-header h1 {
  font-size: 18px;
}
.summery-section-header a {
  color: #9303a6;
}
.summery-section-header a:hover,
.summery-section-header a:active {
  color: #602169;
}
.recommed-list {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  overflow-x: scroll;
}
.recommed-list::-webkit-scrollbar {
  display: none;
}
.recommend-item {
  margin-right: 20px;
}
.recommend-item:last-child {
  margin-right: 0;
}
.recommend-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recommend-image {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f7f8fa; /* img 파일 넣을 시 삭제 */
}
.recommend-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: none;
}
.recommend-image .play-button {
  position: absolute;
  top: 50%;
  visibility: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 200ms ease-in-out, visibility 200ms ease-in-out;
}
.play-button img {
  padding-left: 8px;
  width: 40%;
  height: auto;
}
.recommend-item:hover .play-button {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}
.recommend-item h2 {
  font-size: 18px;
}
.chart-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.chart-item {
  position: relative;
  min-width: 60px;
  max-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.chart-item dt {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  order: 2;
}
.chart-item dd {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  order: 1;
}
.chart-item .active-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  border-radius: 4px 4px 0 0;
  background-color: #9303a6;
  animation-name: chart-slide-bar;
  animation-duration: 2000ms;
}
.chart-item:first-child .active-bar {
  background-color: #d504d9;
}
.chart-item .chart-detail {
  position: relative;
  position: absolute;
  top: -40px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(140, 141, 150, 0.7);
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: transform 200ms ease-in-out, visibility 200ms ease-in-out,
    opacity 200ms ease-in-out;
}
.chart-item:hover .chart-detail {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, -5px, 0);
}
.chart-detail::before {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(140, 141, 150, 0.7);
  border-bottom: 4px solid transparent;
  content: "";
}
.video-item {
  margin-bottom: 24px;
}
.video-item iframe {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 8px;
}
.video-item a {
  display: block;
  font-size: 13px;
  color: #8c8d96;
}
.video-item a:hover,
.video-item a:active {
  color: #b2b3b9;
}
.video-item h2 {
  font-size: 16px;
  font-weight: 400;
}
.video-item a:hover h2,
.video-item a:hover h2 {
  color: #9303a6;
}

/* group */
.group-list {
  margin-top: 48px;
}
.group-item {
  display: block;
  margin-bottom: 24px;
}
.group-item h1 {
  font-size: 18px;
  text-align: center;
}
.group-item:hover h1,
.group-item:active h1 {
  color: #9303a6;
}
.group-item:hover img {
  transform: scale(1.1);
}
.group-image {
  width: 100%;
  margin-bottom: 8px;
  aspect-ratio: 4/3;
  overflow: hidden;
}
.group-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

/* group-introduction */
.group-introduction {
  position: relative;
}
.group-introduction .banner {
  margin-bottom: 0;
}
.lnb {
  position: sticky;
  top: 80px;
  border-bottom: 1px solid #e0e2e7;
  background-color: #fff;
  z-index: 100;
}
.lnb-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lnb-item {
  width: 25%;
}
.lnb-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  font-size: 18px;
  font-weight: 700;
}
:is(.lnb-item:hover, .lnb-item:active) a {
  color: #9303a6;
}
.group-profile {
  margin-top: 36px;
}
.group-profile,
.group-members,
.group-albums {
  margin-bottom: 64px;
}
.group-title {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.group-title h1 {
  margin-right: 8px;
  font-size: 24px;
}
.group-title .like-button {
  position: relative;
  margin-top: 4px;
}
.like-button i {
  font-size: 24px;
  transition: color 200ms ease-in-out;
}
.like-button .view {
  color: #0b0326;
}
.like-button:hover .view {
  color: #d504d9;
}
.like-button .effect {
  position: absolute;
  left: 0;
  bottom: 0;
  color: transparent;
  opacity: 0;
  transition: bottom 200ms ease-in-out, color 200ms ease-in-out,
    opac 200ms ease-in-out;
}
.like-button:active .effect.n01 {
  bottom: 40px;
  color: #d504d9;
  opacity: 0.1;
}
.like-button:active .effect.n02 {
  bottom: 30px;
  color: #d504d9;
  opacity: 0.3;
}
.like-button:active .effect.n03 {
  bottom: 20px;
  color: #d504d9;
  opacity: 0.5;
}
.like-button:active .effect.n04 {
  bottom: 10px;
  color: #d504d9;
  opacity: 0.7;
}
.group-profile .group-summery {
  color: #3f4150;
}
.group-detail-item {
  padding: 16px 0;
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.group-detail-item:not(:last-child) {
  border-bottom: 1px solid #e0e2e7;
}
.group-detail-item dt {
  width: 80px;
  color: #8c8d96;
}
.group-detail-item :is(dd, time) {
  color: #3f4150;
}
.sns-list {
  display: flex;
  align-items: start;
  justify-content: center;
}
.sns-item:not(:last-child) {
  margin-right: 8px;
}
:is(.sns-item, .member-image) a {
  display: block;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
:is(.sns-item, .member-image) a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 200ms ease-in-out;
}
:is(:is(.sns-item, .member-image) a:hover, a:active) img {
  filter: brightness(0.7);
}
.member-list {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: scroll;
}
.member-list::-webkit-scrollbar {
  display: none;
}
.member-item {
  margin-right: 20px;
}
.member-image {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
  overflow: hidden;
}
.member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-image h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out;
}
:is(.member-image:hover, .member-image:active) h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(140, 141, 150, 0.7);
  visibility: visible;
  opacity: 1;
}
.member-image a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.member-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.member-detail strong {
  font-weight: 400;
  color: #3f4150;
}
.album-title {
  position: relative;
  margin-bottom: 32px;
}
.album-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.album-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-title h1 {
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translate(25%, -50%);
  font-size: 80px;
}
.album-play-content {
  height: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.album-play-content h2 {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-bottom: 1px solid #e0e2e7;
}
.album-play-list {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.album-play-item:not(:last-child) {
  margin-right: 8px;
}
.album-play-item a {
  display: block;
  width: 36px;
  height: 36px;
  overflow: hidden;
  opacity: 0.5;
}
:is(.album-play-item:hover, .album-play-item:active) a {
  opacity: 1;
}
.album-play-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-detail {
  color: #3f4150;
}

/* dark mode */
.dark * {
  color: #fff;
}
.dark main {
  background-color: #0b0326;
}
.dark .top-header {
  border-bottom: 1px solid #422f7d;
  background-color: #0b0326;
}
.dark .menu-item:not(:last-child) a:hover,
.dark .menu-item:not(:last-child) a:active {
  color: #f44ff7;
}
.dark .summery-section-header a {
  color: #d504d9;
}
.dark .summery-section-header a:hover {
  color: #f805fc;
}
.dark .chart-item .active-bar {
  background-color: #d504d9;
}
.dark .chart-item:first-child .active-bar {
  background-color: #f805fc;
}
.dark .video-item a:hover h2,
.dark .video-item a:active h2 {
  color: #f44ff7;
}
.dark .group-list {
  height: calc(100vh - 48px);
}
.dark .group-item:hover h1,
.dark .group-item:active h1 {
  color: #f44ff7;
}
.dark .lnb {
  background-color: #0b0326;
  border-bottom: 1px solid #422f7d;
}
.dark :is(.lnb-item:hover, .lnb-item:active) a {
  color: #f44ff7;
}
.dark .like-button .view {
  color: #fff;
}
.dark .like-button:hover .view {
  color: #f805fc;
}

.dark .like-button:active .effect.n01 {
  color: #f805fc;
}
.dark .like-button:active .effect.n02 {
  color: #f805fc;
}
.dark .like-button:active .effect.n03 {
  color: #f805fc;
}
.dark .like-button:active .effect.n04 {
  color: #f805fc;
}
.dark .group-profile .group-summery {
  color: #f7f8fa;
}
.dark .group-detail-item:not(:last-child) {
  border-bottom: 1px solid #422f7d;
}
.dark .group-detail-item dt {
  color: #e0e2e7;
}
.dark .group-detail-item :is(dd, time) {
  color: #f7f8fa;
}
.dark .member-detail strong {
  color: #f7f8fa;
}
.dark .album-detail {
  color: #f7f8fa;
}

/* mobile ver. */
@media screen and (max-width: 744px) {
  /* global utility */
  .sm-hidden,
  .md-only,
  .lg-only {
    display: none !important;
  }

  main {
    padding: 50px 0;
  }
  .top-header,
  .header-wrapper {
    height: 50px;
  }

  /* mobile > index */
  .logo {
    width: 90px;
  }
  .menu-item a {
    font-size: 14px;
  }
  .banner {
    height: calc(100vw / 2);
  }
  .banner a {
    bottom: 12px;
    padding: 4px 24px;
    font-size: 14px;
  }
  .banner,
  .summery-section {
    margin-bottom: 48px;
  }
  .summery-section-header {
    margin-bottom: 24px;
  }
  .recommend-item {
    margin-right: 16px;
  }
  .recommend-image {
    width: 65px;
    height: 65px;
  }
  .play-button img {
    padding-left: 4px;
    width: 50%;
  }
  .chart-item {
    min-width: 48px;
    max-width: 48px;
  }
  .chart-item dt {
    font-size: 12px;
  }
  .chart-item dd {
    margin-bottom: 4px;
  }
  .chart-detail {
    font-size: 12px;
  }
  .video-item a {
    font-size: 11px;
  }
  .video-item h2 {
    font-size: 14px;
  }

  /* mobile > group */
  .group-list {
    margin-top: 32px;
  }
  .group-item {
    margin-bottom: 16px;
  }
  .group-item h1 {
    margin-left: 4px;
    font-size: 16px;
    text-align: left;
  }
  .group-image {
    margin-bottom: 4px;
  }

  /* mobile > group-introduction */
  .lnb {
    top: 49px;
  }
  .lnb-item a {
    height: 40px;
    font-size: 16px;
  }
  .group-introduction {
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .group-profile,
  .group-members,
  .group-albums {
    margin-bottom: 48px;
  }
  .group-summery {
    margin-bottom: 24px;
  }
  .group-detail-item {
    font-size: 13px;
    padding: 8px 0;
    margin: 0 12px;
  }
  :is(.sns-item, .member-image) a {
    width: 24px;
    height: 24px;
  }
  .member-item {
    margin-right: 10px;
  }
  .member-image {
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
  }
  .member-image h1 {
    font-size: 16px;
  }
  .member-image a {
    bottom: 8px;
    right: 8px;
  }
  .member-detail strong,
  .member-detail time {
    font-size: 12px;
  }
  .member-detail h1 {
    font-size: 16px;
  }
  .album-title {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 0;
  }
  .album-title h1 {
    position: static;
    transform: translate(0, 0);
    font-size: 48px;
  }
  .album-play-content {
    margin-bottom: 24px;
  }

  /* mobile > dark mode */
  .dark .group-list {
    height: 100%;
  }
}

/* tablet ver. */
@media screen and (min-width: 744px) and (max-width: 1199px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0 40px;
    max-width: 960px;
  }
  .col-md-1 {
    width: 8.333%;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-5 {
    width: 41.666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-11 {
    width: 91.666%;
  }
  .col-md-12 {
    width: 100%;
  }

  /* global utility */
  .md-hidden,
  .sm-only,
  .lg-only {
    display: none !important;
  }

  /* tablet > index */
  .recommend-image {
    width: 94px;
    height: 94px;
  }
  .banner a {
    bottom: 20px;
    padding: 8px 28px;
    font-size: 16px;
  }

  /* tablet > group-introduction */
  .group-detail-item {
    font-size: 14px;
    padding: 12px 0;
    margin: 0 16px;
  }
  .sns-item a {
    width: 30px;
    height: 30px;
  }
}

/* desktop ver */
@media screen and (min-width: 1200px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0;
    max-width: 1140px;
  }
  .col-lg-1 {
    width: 95px;
  }
  .col-lg-2 {
    width: 190px;
  }
  .col-lg-3 {
    width: 285px;
  }
  .col-lg-4 {
    width: 380px;
  }
  .col-lg-5 {
    width: 475px;
  }
  .col-lg-6 {
    width: 570px;
  }
  .col-lg-7 {
    width: 665px;
  }
  .col-lg-8 {
    width: 760px;
  }
  .col-lg-9 {
    width: 855px;
  }
  .col-lg-10 {
    width: 950;
  }
  .col-lg-11 {
    width: 1045px;
  }
  .col-lg-12 {
    width: 1140px;
  }

  /* global utility */
  .lg-hidden,
  .sm-only,
  .md-only {
    display: none !important;
  }
}

/* icon font */
@font-face {
  font-family: "queendom";
  src: url("./assets/icons/queendom.eot");
  src: url("./assets/icons/queendom.eot#iefix") format("embedded-opentype"),
    url("./assets/icons/queendom.ttf") format("truetype"),
    url("./assets/icons/queendom.woff") format("woff"),
    url("./assets/icons/queendom.svg#queendom") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "queendom" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-heart-filled:before {
  content: "\e916";
}

@keyframes chart-slide-bar {
  100% {
    transform: translate3d(0, 0, 0);
  }
  0% {
    transform: translate3d(0, 100%, 0);
  }
}
