/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

/* responsive grid system */
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  padding: 0 5px;
}
.container {
  padding: 0 15px;
}
.col-sm-1 {
  width: 25%;
}
.col-sm-2 {
  width: 50%;
}
.col-sm-3 {
  width: 75%;
}
.col-sm-4 {
  width: 100%;
}

/* index */
.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid #e0e2e7;
  background-color: #fff;
}
.header-wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 140px;
  height: auto;
  overflow: hidden;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-item a {
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #0b0326;
}
.menu-item a:hover,
.menu-item a:active {
  color: #9303a6;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item:last-child a {
  color: #a957e6;
}
.menu-item:last-child a:hover,
.menu-item:last-child a:active {
  color: #d8abfb;
}

.banner {
  width: 100%;
  height: calc(100vw / 4);
  margin-bottom: 48px;
  overflow: hidden;
  background-color: #f7f8fa; /* img 파일 넣을 시 삭제 */
}
.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.summery-section {
  margin-bottom: 64px;
}
.summery-section-header {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summery-section-header h1 {
  font-size: 18px;
  color: #0b0326;
}
.summery-section-header a {
  color: #9303a6;
}
.summery-section-header a:hover,
.summery-section-header a:active {
  color: #602169;
}
.recommed-list {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  overflow-x: scroll;
}
.recommed-list::-webkit-scrollbar {
  display: none;
}
.recommend-item {
  margin-right: 20px;
}
.recommend-item:last-child {
  margin-right: 0;
}
.recommend-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recommend-image {
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f7f8fa; /* img 파일 넣을 시 삭제 */
}
.recommend-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recommend-item h2 {
  font-size: 18px;
  font-weight: 400;
  color: #0b0326;
}
.album-chart-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.album-chart-item {
  min-width: 60px;
  max-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.album-chart-item dt {
  width: 100%;
  font-size: 14px;
  color: #0b0326;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  order: 2;
}
.album-chart-item dd {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  width: 24px;
  height: 150px;
  margin-bottom: 8px;
  overflow: hidden;
  order: 1;
}
.album-chart-item .active-bar {
  width: 100%;
  border-radius: 4px 4px 0 0;
  background-color: #9303a6;
  animation-name: chart-slide-bar;
  animation-duration: 2000ms;
}
.album-chart-item:first-child .active-bar {
  background-color: #d504d9;
}

/* mobile ver. */
@media screen and (max-width: 744px) {
  /* global utility */
  .sm-hidden,
  .md-only,
  .lg-only {
    display: none !important;
  }

  /* index */
  .header-wrapper {
    height: 50px;
  }
  .logo {
    width: 90px;
  }
  .menu-item a {
    font-size: 14px;
  }
  .banner,
  .summery-section {
    margin-bottom: 48px;
  }
  .summery-section-header {
    margin-bottom: 24px;
  }
  .recommend-item {
    margin-right: 16px;
  }
  .recommend-image {
    width: 65px;
    height: 65px;
  }
  .album-chart-list {
    justify-content: start;
    width: 100%;
    overflow-x: scroll;
  }
  .album-chart-list::-webkit-scrollbar {
    display: none;
  }
  .album-chart-item {
    min-width: 48px;
    max-width: 48px;
    margin-right: 10px;
  }
  .album-chart-item dt {
    font-size: 12px;
  }
  .album-chart-item dd {
    width: 16px;
    height: 100px;
    margin-bottom: 4px;
  }
}

/* tablet ver. */
@media screen and (min-width: 744px) and (max-width: 1199px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0 40px;
    max-width: 960px;
  }
  .col-md-1 {
    width: 8.333%;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-5 {
    width: 41.666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-11 {
    width: 91.666%;
  }
  .col-md-12 {
    width: 100%;
  }

  /* global utility */
  .md-hidden,
  .sm-only,
  .lg-only {
    display: none !important;
  }

  /* index */
  .recommend-image {
    width: 94px;
    height: 94px;
  }
}

/* desktop ver */
@media screen and (min-width: 1200px) {
  /* responsive grid system */
  [class^="col-"] {
    padding: 0 10px;
  }
  .container {
    padding: 0;
    max-width: 1140px;
  }
  .col-lg-1 {
    width: 95px;
  }
  .col-lg-2 {
    width: 190px;
  }
  .col-lg-3 {
    width: 285px;
  }
  .col-lg-4 {
    width: 380px;
  }
  .col-lg-5 {
    width: 475px;
  }
  .col-lg-6 {
    width: 570px;
  }
  .col-lg-7 {
    width: 665px;
  }
  .col-lg-8 {
    width: 760px;
  }
  .col-lg-9 {
    width: 855px;
  }
  .col-lg-10 {
    width: 950;
  }
  .col-lg-11 {
    width: 1045px;
  }
  .col-lg-12 {
    width: 1140px;
  }

  /* global utility */
  .lg-hidden,
  .sm-only,
  .md-only {
    display: none !important;
  }
}

@keyframes chart-slide-bar {
  100% {
    transform: translate3d(0, 0, 0);
  }
  0% {
    transform: translate3d(0, 100%, 0);
  }
}
